@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background: rgb(253, 254, 254);
}
ion-icon {
  color: rgb(230, 230, 237);
}

@layer components {
  .verb-list {
    @apply text-slate-800  mt-2 max-sm:text-sm ;
  }
  .verb-span {
    @apply text-xl text-red-700 pl-2 max-sm:text-sm;
  }
}